argcomplete
asgiref
attrs
Babel
bcrypt
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
Django
duplicity
fasteners
gpg
gunicorn
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
Mako
markdown-it-py
MarkupSafe
mdurl
monotonic
netaddr
netifaces
oauthlib
olefile
packaging
paramiko
pexpect
pillow
pipx
platformdirs
psutil
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyparsing
PyQt5
PyQt5-sip
pyrsistent
pyserial
PySocks
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
setuptools
six
sqlparse
systemd-python
torbrowser-launcher
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
usb-creator
userpath
wadllib
wheel
xdg
xkit